.github-info {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.github-info img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 20px 0;
}

.github-info a {
  margin-top: 10px;
}